/* .ql-toolbar:first-child {
    display : none !important
} */

#editor {
    color : white;
    background-color: #262626;
    height : 100%;
}

html {
    height: 100%;
    width:  100%;
    background-color: black;
}
body {
    height: 100%;
    width:  100%;
    background-color: black;
}

#root {
    height: 100%;
    width : 100%;
    background-color: black;
}

.MuiChip-deleteIcon {
    color : white;
    /* background-color: white; */
}
.MuiSelect-multiple {
    border: 1px solid white;
}