/* .ql-toolbar:first-child {
    display : none !important
} */

html {
    height: 100%;
    width:  100%;

}
body {
    height: 100%;
    width:  100%;

}

#root {
    height: 100%;
    width : 100%;

}

.MuiChip-deleteIcon {
    color : white;
    /* background-color: white; */
}
.MuiSelect-multiple {
    border: 1px solid white;
}
.MuiSelect-icon {
    color : white;
}